---
component: css-section
---
<section class="section {{modifier}}">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col col-lg-4">
        <img class="img-circle" data-src="holder.js/110x110/#{{holderbg}}:#fff">
        <h3>Heading</h3>
        <p> {{ text.one }} </p>
        <p><a class="label" href="#">View details</a></p>
      </div>
      <div class="col col-lg-4">
        <img class="img-circle" data-src="holder.js/110x110/#{{holderbg}}:#fff">
        <h3>Heading</h3>
        <p> {{ text.two }} </p>
        <p><a class="label" href="#">View details</a></p>
      </div>
      <div class="col col-lg-4">
        <img class="img-circle" data-src="holder.js/110x110/#{{holderbg}}:#fff">
        <h3>Heading</h3>
        <p> {{ text.three }} </p>
        <p><a class="label" href="#">View details</a></p>
      </div>
    </div>
  </div>
</section>


